.details {
  min-width: 430px;
  width: 430px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid;
  box-sizing: border-box;
}

.details__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  font-family: 'Might-Makes';
}

.details button {
  align-self: flex-end;
  width: 42px;
}

.details__content p {
  margin: 0;
  margin-bottom: 15px;
}

.details__image img {
  border: 2px solid;
  width: 300px;
  object-fit: cover;
}

.details__description {
  font-size: 18px;
}

.details a {
  width: 180px;
  display: block;
  text-decoration: none;
}
