@import '../layout/layout.css';
@import '../components/header/header.css';
@import '../components/footer/footer.css';
@import './link.css';

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}
