.not-found-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Might-Makes';
  font-size: 20px;
  padding: 50px;
  gap: 25px;
}

.not-found-page img {
  width: 250px;
}

.not-found-page h1 {
  font-size: 30px;
  margin: 0;
}

.not-found-page p {
  margin: 0;
}
