.searchbox__search {
  font-family: 'Might-Makes';
  width: 80%;
  height: 40px;
  border: 2px solid;
  padding: 5px 5px 10px 10px;
  font-size: 20px;
  transition: all 0.3s ease 0s;
}

.searchbox__search:focus {
  outline: none;
  box-shadow: 0 6px 6px -6px #000;
}
