.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: 'Comic-Script';
  font-size: 50px;
  margin: 0;
  padding: 10px;
}

.header__searchbox {
  display: flex;
  gap: 20px;
}

.searchbox__search {
  width: 300px;
}

.searchbox__button {
}
